
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    max-width: 500px;
}

#general .bg-image_1 {
    position: absolute;
    width: 100%;
    height: 100%;
    content: URL('../img/1.png');
    background-repeat: no-repeat;
    background-size: cover;

}

#general .bg-image_1-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    content: URL('../img/1-2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#general .bg-image-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    content: URL('../img/2.png');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
}

#general .bg-image-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    content: URL('../img/3.png');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
}

#login-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 440px;
    padding: 50px 45px 35px;
    transform: translate(-50%, -50%);
    opacity: 0.902;
    border-radius: 5px;
    filter: drop-shadow(0px 8px 10px rgba(0, 1, 1, 0.26));
    background-color: #ffffff;
}

#login-panel h1 {
    line-height: 28px;
    color: #4f4f4f;
    font: 600 24px 'Montserrat', sans-serif;
}

#login-panel form label {
    display: block;
    opacity: 0.800;
    letter-spacing: 0px;
    line-height: 28px;
    color: #4f4f4f;
    font: bold 14px "Proxima Nova";
}

#login-panel form input {
    opacity: 0.702;
    width: 100%;
    line-height: 50px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.7019607843137254);
    border: 1px solid #d8d8d8;
    font-size: 18px;
    padding-left: 15px;

}

#login-panel form label:nth-child(1) {
    margin-top: 32px;
}

#login-panel form label:nth-child(3) {
    margin-top: 29px;
}

#login-panel form input:nth-child(5) {
    width: 21px;
    height: 21px;
    border-radius: 6%;
    border: none;
    margin-top: 17px;
}

#login-panel form label:nth-child(6) {
    display: inline-block;
    font: bold 14px 'Golos Text', sans-serif;
    padding-bottom: 10px;
}

#login-panel form a {
    text-decoration: none;
    margin-left: 155px;
    line-height: 28px;
    color: #04a9f4;
    font: bold 14px 'Golos Text', sans-serif;
}

#login-panel form button {
    width: 100%;
    margin-top: 25px;
    font: 500 22px 'Montserrat', sans-serif;
    cursor: pointer;
    color: white;
    border: 0.1px solid #0896d7;
    line-height: 50px;
    border-radius: 3%;
    background-color: #0896d7;
    filter: drop-shadow(0px 3px 0px #0075aa);
}

#login-panel form button:nth-child(9) {
    width: 167.5px;
    height: 36px;
    border-radius: 6px;
    background-color: #3162a2;
    border-color: #3162a2;
    letter-spacing: 1px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    filter: none;
    margin:50px 5px 0 0 ;
    font: bold 14px "Proxima Nova";   
}

#login-panel form button:nth-child(10) {
    width: 167.5px;
    height: 36px;
    border-radius: 6px;
    background-color: #00aaf4;
    letter-spacing: 1px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    filter: none;
    font: bold 14px "Proxima Nova";   

}